<h2><%= @resource.title %></h2>

<p class="resource_description"><%= @resource.description %></p>

<% if @resource.resource_type == "snippet" %>
  <div id="editor">
    <%= @resource.body %>
  </div>
<% end %>
