    #editor {
        font-size:2em;
        grid-column: 1/ 4;
        width: 60em;
        height:30em;
        margin:auto;
        border-radius:25px;

    }
.resource_description{
  grid-column: 1/ 4;
  margin:auto;
  font-size:1.2em;
  margin-bottom:1em;
}